{% extends "BalloonFormBuilderBundle::layout.html.twig" %}

{% block content %}
    {% if not answered %}
        <form method="POST" class="form-stacked well">
            <fieldset>
                <legend>{{ form.name | title }}</legend>
                {{ form_widget(fields) }}
            </fieldset>
            <input class="btn primary" type="submit" value="answer it!" />
        </form>
    {% else %}
        {% if answers|length > 0 %}
        <table class="zebra-striped bordered-table">
            <thead>
                {% for i,field in form.fields %}
                    <th>{{ field.options.label }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for i,answer in answers %}
                    <tr>
                    {% for i,field in answer.fieldAnswers %}
                        <td>{{ field.value }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endif %}

{% endblock %}
