<h1>Answer to the form</h1>

<form method="POST">
    {{ form_widget(fields) }}
    <input type="submit" value="answer it!" />
</form>

<table>
    <thead>
        {% for i,field in form.fields %}
            <th>{{ field.options.label }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for i,answer in answers %}
            {% for i,field in answer.fieldAnswers %}
                <td>{{ field.value }}<td>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
