<h1>Create a form</h1>

<h5>Type of fields:</h5>
<ul>
    <li><a href="{{ path('form_field_create', {"type": "field", "formid": formid}) }}">text</a></li>
    <li><a href="{{ path('form_field_create', {"type": "choice", "formid": formid}) }}">choice</a></li>
</ul>
