<h1>List of forms</h1>

<a href="{{ path("form_create") }}">create a form</a>

<hr/>

<ul>
    {% for form in forms %}
        <li>
            <a href="{{ path("form_edit", {"formid": form.id}) }}">{{ form.name }}</a>
            <a href="{{ path("form_delete", {"formid": form.id}) }}">delete</a>
        </li>
    {% else %}
        <li>no form yet..</li>
    {% endfor %}
</ul>
